<ion-view view-title="Add">
  <ion-content class="add-content">
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Title" ng-model="$parent.itemTitle">
      </label>
      <label class="item item-input">
        <textarea placeholder="Body" class="body-area" ng-model="$parent.itemBody"></textarea>
      </label>
    </div>
    <div>
      <button class="button button-dark submit" ng-click="save()">
        Apply
      </button>
    </div>
  </ion-content>
</ion-view>
