<ion-tabs class="tabs-icon-top tabs-positive">

  <ion-tab title="List" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" ui-sref="app.list">
    <ion-nav-view class="slide-left-right" name="app-list"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Add" icon-off="ion-ios-compose-outline" icon-on="ion-ios-compose" ui-sref="app.add">
    <ion-nav-view class="slide-left-right" name="app-add"></ion-nav-view>
  </ion-tab>

  <ion-tab title="View" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" disabled="true">
    <ion-nav-view class="slide-left-right" name="app-view"></ion-nav-view>
  </ion-tab>

</ion-tabs>
